/* gallery styling; Responsive Image Gallery */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.gallery-header {
  text-align: center;
  padding: 32px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* makes 4 equal columns */
.gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* makes a 2 column instead of 4 columns */
@media (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* makes the 2 columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}